{
    "presets": ["env"],
    "plugins": [
      "dynamic-import-node",
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "@graphql": "./src/graphql",
          "@controllers": "./src/controllers",
          "@routes": "./src/routes",
          "@models": "./src/models",
          "underscore": "lodash"
        }
      }]
    ]
  }
