{
    "presets": ["env"],
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "@models": "./src/models",
          "underscore": "lodash"
        }
      }]
    ]
  }