---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Home" description="Home">
  <main class="min-h-screen flex flex-col justify-center items-center">
    <img alt="Cabin" src="/cabin2.gif" class="mx-auto p-2" />
    <div class="font-georgia text-center antialiased">
      <a href="https://github.com/fazulk">
        <span
          class="mx-1.5 inline-block relative text-[orange] cursor-pointer hover:after:scale-x-100 after:content-[''] after:absolute after:w-full after:scale-x-0 after:h-0.5 after:bottom-0 after:left-0 after:bg-orange-500 after:origin-bottom-right after:transition-transform after:duration-250 after:ease-out hover:after:origin-bottom-left"
        >Github</span
        >
      </a>
      <a href="/resume" data-astro-prefetch>
        <span
          class="mx-1.5 inline-block relative text-[orange] cursor-pointer hover:after:scale-x-100 after:content-[''] after:absolute after:w-full after:scale-x-0 after:h-0.5 after:bottom-0 after:left-0 after:bg-orange-500 after:origin-bottom-right after:transition-transform after:duration-250 after:ease-out hover:after:origin-bottom-left"
        >Resume</span
        >
      </a>
    </div>
  </main>
</Layout>
