---
interface Props {
    isPdf?: boolean
}

const { isPdf } = Astro.props
---
    <div class="py-3">California</div>
    <div class="underline">
    <a href="mailto:jfasulkey@gmail.com">jfasulkey@gmail.com</a><br />
    <a href="https://jeffs.geocities.page">jeffs.geocities.page</a><br />
    <a href="https://github.com/fazulk">github.com/fazulk</a><br />
    {isPdf ? '' : (<a href="/docs/resume.pdf" data-astro-prefetch>download pdf</a><br />) }
    </div>
