---
import ThemeToggle from '@/components/ThemeToggle.astro'
---
<div
  class="text-5xl px-7 py-6 bg-[orange] text-neutral-800 flex justify-between"
>
  Jeff Fasulkey
  <div>
    <ThemeToggle />
  </div>
</div>
